/* Write your CSS here */
.btn{
    background-color: #f8fafc;
    color: #303150;
    border-radius: 12px;
    border-width: 0px;
    border-style: solid;
    font-size: 17px;
    font-family: roboto;
}